<% @comments.each do |comment| %>
<article class="row">
  <!--<div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="" />
      <figcaption class="text-center">username</figcaption>
    </figure>
  </div>-->
  <div class="col-xs-12 ">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user text-muted"><i class="fa fa-user"></i> <%= comment.commentator_name %></div>
          <time class="comment-date text-muted" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %></time>
        </header>
        <div class="comment-post">
          <p><%= simple_format strip_tags(comment.content) %></p>
        </div>
        <% if can? :update, comment %>
          <!--<p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>-->
          <%= link_to [:edit, @commentable, comment], class: 'btn btn-warning' do %>
            <%= fa_icon 'edit' %>
          <% end %>
        <% end %>
        <% if can? :destroy, comment %>
          <%= link_to [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</article>
<% end %>
