<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<% if can? :update, @article %>
  <% if can? :create, @article  %>
    <%= link_to t('.add_article'), new_article_path, class: 'btn btn-primary pull-right' %>
  <% end %>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.pub_date') %></th>
        <th><%= t('.controls') %></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %> <br/> Tags: <%= show_article_tags(article) %></td>
          <td><%= article.pub_date %>
          <% if article.show %>
            <span class="label label-success">pub</span>
          <% else %>
            <span class="label label-danger">priv</span>
          <% end %>
          </td>
          <td>
            <div class="btn-group btn-group-xs" role="group" >
              <%= link_to article, title: t('show'), class: 'btn btn-info' do %>
                <%= fa_icon 'eye' %>
              <% end %>
              <%= link_to edit_article_path(article), title: t('edit'), class: 'btn btn-warning' do %>
                <%= fa_icon 'edit' %>
              <% end %>
              <% if can? :destroy, @article %>
                <%= link_to article, title: t('destroy'), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                  <%= fa_icon 'trash' %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="col-sm-8 blog-main">
  <% @articles.each do |article| %>
    <h3 class="blog-post-title">
      <%= link_to article.title, article_path(article) %>
    </h3>
    <%= image_tag article.image.url(:original), class: 'img-responsive', alt: "#{article.title}" %>
    <%= article.preview.html_safe if article.preview %>
    <p class="blog-post-meta"><%= time_ago_in_words(article.pub_date) %>. <%= t(:tags) %>:
      <%= show_article_tags(article) %>
    </p>
    <% if can? :update, @article %>
      <%= link_to edit_article_path(article), title: t('edit'), class: 'btn btn-warning' do %>
        <%= fa_icon 'edit' %>
      <% end %>
    <% end %>
    <% if can? :destroy, @article %>
      <%= link_to article, title: t('destroy'), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <%= fa_icon 'trash' %>
      <% end %>
    <% end %>
    <hr/>
    <br/><br/><br/>
  <% end %>
  <%= paginate @articles %>
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar"> <!-- About section -->
  <div class="sidebar-module sidebar-module-inset">
    <h4><%= t('about') %></h4>
    <p><%= t('follow_links').html_safe %></p>
  </div>
  <div class="sidebar-module">
    <h4><%= t('elsewhere') %></h4>
    <ol class="list-unstyled">
      <li><a href="https://www.linkedin.com/profile/view?id=123807632" target="_blank"><%= fa_icon 'linkedin-square' %> LinkedIn</a> <%= t('linkedin').html_safe %></li>
      <li></li>
      <li><a href="https://www.facebook.com/badalloff" target="_blank"><%= fa_icon 'facebook-official' %> Facebook</a>
        <%= t('facebook').html_safe %></li>
      <li></li>
      <li><a href="https://twitter.com/ShamilBadalov" target="_blank"><%= fa_icon 'twitter-square' %> Twitter</a></li>
      <li></li>
      <li><a href="https://github.com/BadAllOff" target="_blank"><%= fa_icon 'github-square' %> GitHub</a></li>
    </ol>
  </div>
  <div class="sidebar-module sidebar-module">
    <h4><%= t('tags') %></h4>
    <p>
    <ul class="list-group" >
      <% tag_cloud (Article.tag_counts_on :tags_for_articles), %w[tag1 tag2 tag3 tag4] do |tag, css_class|  %>
        <li class="list-group-item" >
          <span class="badge"><%= tag.taggings_count %></span>
          <%= link_to  "#{tag.name}", articles_tag_path(tag.name), class: css_class %>
        </li>
      <% end %>
    </ul>
    </p>
  </div>

  <!-- / About section -->

  <!--<div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">March 2015</a></li>
      <li><a href="#">February 2015</a></li>
    </ol>
  </div>-->

</div><!-- /.blog-sidebar -->
