<p id="notice"><%= notice %></p>

  <h1><%= @article.title %></h1>
  <%= image_tag @article.image.url(:original), class: 'img-responsive' %>

<p>
  <strong>Content:</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @article.pub_date %>
</p>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %> |
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>
