
<div class="blog-header">
  <h1 class="blog-title"><%= t '.blog_title' %></h1>
  <p class="lead blog-description"><%= t '.blog-description' %></p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
    <% @articles.each do |article| %>
      <h2 class="blog-post-title"><%= article.title %></h2>
      <p class="blog-post-meta"><%= time_ago_in_words(article.pub_date) %>, <a href="#">Badalloff</a></p>
      <%= image_tag article.image.url(:original), class: 'img-responsive', alt: "#{article.title}" %>
      <%= article.content.html_safe %>
      <hr/>
    <% end %>

    <nav>
      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </nav>

  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>

    <!--<div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><a href="#">March 2015</a></li>
        <li><a href="#">February 2015</a></li>
      </ol>
    </div>-->
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="https://www.linkedin.com/profile/view?id=123807632" target="_blank"><%= fa_icon 'linkedin-square' %> LinkedIn</a></li>
        <li><a href="https://twitter.com/ShamilBadalov" target="_blank"><%= fa_icon 'twitter-square' %> Twitter</a></li>
        <li><a href="https://www.facebook.com/badalloff" target="_blank"><%= fa_icon 'facebook-official' %> Facebook</a></li>
        <li><a href="https://github.com/RebelioUS" target="_blank"><%= fa_icon 'github-square' %> GitHub</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->