<%= render 'welcome/blog_header' %>
<div class="container">
  <div class="row">

    <div class="col-sm-8 blog-main">
      <% @articles.each do |article| %>
        <h3 class="blog-post-title">
          <%= link_to article.title, article_path(article) %>
        </h3>
        <p class="blog-post-meta"><%= time_ago_in_words(article.pub_date) %>. <%= t(:tags) %>:
          <%= show_article_tags(article) %>
        </p>
        <%= image_tag article.image.url(:original), class: 'img-responsive', alt: "#{article.title}" %>
        <%= article.preview.html_safe if article.preview %>
        <hr/>
      <% end %>

      <nav>
        <!--<ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>-->
      </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar"> <!-- About section -->
      <div class="sidebar-module sidebar-module-inset">
        <h4><%= t('about') %></h4>
        <p><%= t('follow_links').html_safe %></p>
      </div>
      <div class="sidebar-module">
        <h4><%= t('elsewhere') %></h4>
        <ol class="list-unstyled">
          <li><a href="https://www.linkedin.com/profile/view?id=123807632" target="_blank"><%= fa_icon 'linkedin-square' %> LinkedIn</a> <%= t('linkedin').html_safe %></li>
          <li></li>
          <li><a href="https://www.facebook.com/badalloff" target="_blank"><%= fa_icon 'facebook-official' %> Facebook</a>
            <%= t('facebook').html_safe %></li>
          <li></li>
          <li><a href="https://twitter.com/ShamilBadalov" target="_blank"><%= fa_icon 'twitter-square' %> Twitter</a></li>
          <li></li>
          <li><a href="https://github.com/BadAllOff" target="_blank"><%= fa_icon 'github-square' %> GitHub</a></li>
        </ol>
      </div>
      <div class="sidebar-module sidebar-module">
        <h4><%= t('tags') %></h4>
        <p>
          <ul class="list-group" >
            <% tag_cloud Article.tag_counts, %w[tag1 tag2 tag3 tag4] do |tag, css_class|  %>
              <li class="list-group-item" >
                <span class="badge"><%= tag.taggings_count %></span>
                <%= link_to  "#{tag.name}", articles_tag_path(tag.name), class: css_class %>
              </li>
          <% end %>
          </ul>
        </p>
      </div>

      <!-- / About section -->

      <!--<div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2015</a></li>
          <li><a href="#">February 2015</a></li>
        </ol>
      </div>-->

    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div>