<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>
<div class="col-xs-12 col-sm-6">
  <%= image_tag @book.book_cover, class: 'img-responsive' %>
</div>
<div class="col-xs-12 col-sm-6">
  <p>
    <strong><%= @book.author %></strong>
  </p>

  <p>
    <strong><%= @book.title %></strong>
  </p>

  <p>
    <%= raw @book.description %>
  </p>
</div>

<div class="col-xs-12">
  <hr/>
  <h2><%= t('.book_comments') %></h2>
  <!--TODO render Disgus view-->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'badalloffninja';
    var disqus_identifier = 'article_<%= @book.id.to_s %>';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <%= render 'comments/comments' %>
  <%= render 'comments/form' %>
</div>
<% if can? :edit, @book %>
  <%= link_to t('edit'), edit_book_path(@book), class: 'btn btn-default' %> |
<% end %>
<%= link_to t('back'), books_path, class: 'btn btn-default' %>
