<!DOCTYPE html>
<html>
<head>
  <title><%= t('welcome.blog_header.blog_title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, feed_path, {title: 'RSS feed'}) %>
</head>
<body>

<%= render 'application/head_menu' %>


  <div class="container" style="padding-top: 30px">
    <div class="row">
      <%= yield %>
    </div>
  </div><!-- /.container -->

<%= render 'application/footer' %>

</body>
</html>
