<!DOCTYPE html>
<html>
<head>
  <title>Badblog5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'application/head_menu' %>

<%= yield %>

<%= render 'application/footer' %>

</body>
</html>
